*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sofia-pro';
    src: url("https://use.typekit.net/af/b4d13d/00000000000000003b9b1a9a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/b4d13d/00000000000000003b9b1a9a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/b4d13d/00000000000000003b9b1a9a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("https://type.cargo.site/NeueHaasGrotesk/NeueHaasGroteskTextRegular-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-DFFF, U+F900-FFFD;
}

@font-face {
    font-family: 'px_sans_nouveaux';
    src: url("../fonts/px_sans_nouveaux.woff2") format("woff2");
  }

body,
html{
    width: 100%;
    height: 100%;
    font-size: 10px;
    /*cursor: url(../X\ Busy\ 2.cur), auto;*/
}

:root{
    --mon: 'Montserrat';
    --playd: 'Playfair Display';
    --neu: 'Neue Haas Grotesk';
    --pix: 'px_sans_nouveaux';
}

.wrapper{
    width: 100%;
    height: 100vh;
    background: #000;   
    z-index: 1;
}

/*.wrapper div{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background: #fffffe;
    box-shadow: 20px 20px 0px black;
    transition: all 250ms ease-in-out;
    transform: translate(-10px, -10px);
}

.wrapper div:hover{
    box-shadow: 10px 10px 0px black;
    transform: translate(0px, 0px);


}*/

.modal__greeting{
    background-image: url(../imgs/bg7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal__greeting-body-off{
    opacity: 1;
    display: none;
    animation: disappering 500ms ease 100ms 1 normal forwards;
}

@keyframes disappering{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

.modal__greeting-heading{
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: var(--mon);
    font-weight: 500;
    padding: 2.5rem 0;

}

.modal__greeting-main,
.modal__greeting-image_body{
    width: 425px;
    height: auto;
    margin: 0 auto;
    padding: 2.5rem 2.5rem;
    background: white;
    border-radius: 24px;
    position: relative;
z-index: 1;

}

.modal__border{
    position: absolute;
    width: calc(100% - 6rem);
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;
    z-index: -1;
}

.modal__greeting-input{
    padding: 2.5rem 0;
}


.modal__greeting-input input{
    width: 100%;
    border: 0;
    font-size: 2.6rem;
    color: black;
    font-family: var(--playd);
    text-align: center;
}

.modal__greeting-input input::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.6rem;

}

.modal__greeting-accept{
    width: auto;
    height: auto;
    padding: 5rem 0 0 0;

}

#modal__greeting-btn{
    margin: 0 auto;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 50%;
    display: flex   ;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 250ms 250ms ease-in-out;

}

#modal__greeting-btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    opacity: 1;
    transform: scale(0);
    transition: all 250ms ease-in-out;
}

#modal__greeting-btn:active::after{
    background: lightgrey;
}

/*#modal__greeting-btn:hover{
    opacity: 1;
}*/

#modal__greeting-btn:hover::after{
    transform: scale(.9);
    opacity: 1;

}

#modal__greeting-btn img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.modal__greeting-image{
    display: none;
    width: auto;
    height: auto;
    /*background: white;*/
    border-radius: 24px;
}

.modal__greeting-image-on{
    display: block;
}

.modal__greeting-image_body{
    padding: 0 0 100% 0;
    margin-bottom: 5rem;

}

.modal__greeting-image_body img{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width:  calc(100% - 5rem);
    height: calc(100% - 5rem);
    object-fit: cover;
    border-radius: 24px;
}

.modal__greeting-image_body-off img{
    border: 5px solid lightgray; 
}

.modal__greeting-image_body-off img[alt]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: var(--playd);
    color: gray;
}

.modal__greeting-image_btns{
    width: 425px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
}

.modal__greeting-image-btn-item{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem; 
    font-family: var(--mon);
    background-color: rgba(255,255,255, .7);
    border-radius: 24px;
    cursor: pointer;
}

/*

main

*/

.main__page{
    height: 100vh;
    width: 100%;
    font-family: var(--playd);
    background: white;
    font-size: 5rem;
    display: none;
}


.main{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient( 122.3deg,  rgba(111,71,133,1) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,1) 84.8% );*/
    /*background-image: radial-gradient( circle 263px at 100.2% 3%,  rgba(12,85,141,1) 31.1%, rgba(205,181,93,1) 36.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 60.7%, rgba(249,140,69,1) 72.5%, rgba(12,73,116,1) 72.6% );*/
    background: #007e7e;
    color: white;
}


.content{
    border-bottom: 1px solid white;
    width: 100%;
    height: calc(100% - 30px);

}


.icon__item{
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    cursor: pointer;
}

.icon__item:active .icon__label{
    background:#0090e4;
 color:#fff;
}

#icon__item1{
    top: 0;
    left: 0;
}

#icon__item2{
    top: 70px;
    left: 0;
}
#icon__item3{
    top: 140px;
    left: 0;
}

.icon__item img{
    margin: 0 auto;
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.icon__label{
    padding-top: 0.4rem;
    font-family: var(--pix);
    font-size: 0.8rem;
}

.window-open{
    display: block !important;
}

/* notes */

.notes{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1024px;
    height: 576px;
    padding: .2rem .3rem .2rem .2rem; 
    display: none;
}

.window__header{
    width: 100%;
    height: 23px;
    background: navy;
    display: flex;
    justify-content: space-between;
    cursor: move;

}

.window__lable{
    font-size: 1.3rem;
    font-family: var(--pix);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    letter-spacing: 0.025rem;
}

.window__btn{
    display: flex;
    align-items: center;
    padding-right: .5rem;

}

.window__btn_item{
    margin-left: .5rem;
    height: 16px;
    width: 16px;
    border-left: 2px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
    background-color: #c6c6c6;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.window__btn_item:active{
    border-top:2px solid #000;
    border-left:2px solid #000;
    border-right:2px solid #efefef;
    border-bottom:2px solid #efefef;
}

.window__btn_item img{
    width: 11px;
    height: 11px;
    object-fit: contain;
}

.window{
    background-color: #c6c6c6;
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.footer{
    width: 100%;
    height: 30px;
    background-color: silver;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    border-left: 2px solid #f4f4f4;
    padding: .2rem .5rem .3rem .5rem;
    display: flex;
}

.footer__menu{
    height: 100%;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    font-family: var(--pix);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../icons/windows-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 .2rem 0 2.7rem ;
    cursor: pointer;
    box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
}
