*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: "HK Guise";
    src: url("../fonts/HKGuise-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "gangstergrotesk";
    src: url("../fonts/gangstergrotesk/gangstergrotesk-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "NeueHaasGroteskTextRegular";
    src: url("../fonts/NeueHaasGroteskTextRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../fonts/spacegrotesk/SpaceGrotesk-Regular.woff2") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "La Nord Semi Light";
    src: url("../fonts/laNord/LaNord-SemiLight.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

:root{
    --font-main: 'La Nord Semi Light', sans-serif;

    --font-other: 'Montserrat', sans-serif;
    --color-main: #f4f5f9;

    --headerLogo-spacing: -1px;
    --headerMenu-spacing: -1px;
    --textRegular-spacing: -0.5px;
    --textArticle-spacing: -1px;
    --textLargeExcited-spacing: -2px;
    --textLargeWorks-spacing: -4px;
    --textConter-spacing: -1px;

    --workMaskBg-color: #f3e5c1;
    --workBg-color: whitesmoke;
}

body,
html{
    width: 100%;
    height: auto;
    font-size: 10px;
    position: relative;
}

.body-off{
    animation: bodyOverflow-on 100ms ease 7500ms 1 normal forwards;
}

@keyframes bodyOverflow-on{
    100%{
        overflow: hidden;
    }
}

.underlined{
    border-bottom: 5px dotted white;
}

.gradient-text{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    animation:GradientScroll 7s linear infinite;
    background-size: 200% 100%;
    background-image:linear-gradient(90deg,#d97d01,#01928f 40%,#01928f 50%,#9e81d2 60%,#d97d01 80%,#d97d01);
}


@keyframes GradientScroll {
    0% {
        background-position:0 0
    }
    to {
        background-position:-200% 0
    }   
}

/*background: linear-gradient(90deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    background-size: 500% 100%;
    background-repeat: repeat;
    animation: gradientText 10s linear infinite;
    animation-direction: normal;
    animation-direction: alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText {
    0% {background-position: 0%}
    100% {background-position: 100%}
}*/

.photo-text{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease;
    animation: photoText-anim 2500ms ease 600ms infinite normal forwards;
}

@keyframes photoText-anim{
    0%{
        background-image: url(../img/1.jpg);
    }
    20%{
        background-image: url(../img/2.jpeg);
    }
    40%{
        background-image: url(../img/3.jpeg);
    }
    60%{
        background-image: url(../img/4.jpeg);
    }
    80%{
        background-image: url(../img/5.jpeg);
    }
    100%{
        background-image: url(../img/6.jpg);
        filter: grayscale(1);
    }
}

.wrapper{
    width: 100%;
    background: white;
    height: 100%;
    position: relative;
}

.header{
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__content{
    width: calc(100% - 8rem);
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__logo,
.header__nav{
    width: 100%;
    height: 100%;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo a{
    font-size: 3.6rem;
    line-height: 1;
    color: black;
    font-weight: 600;
    font-family: var(--font-main);
    letter-spacing: var(--headerLogo-spacing);
    text-decoration: none;
}

.header__nav{
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: flex-end;
}

.header__nav a{
    transition: all 250ms ease;
    cursor: pointer;
    font-family: var(--font-main);
    font-size: 3.6rem;
    color: rgba(0, 0, 0, .25);
    text-decoration: none;
    margin: 0 0 0 4rem;
    letter-spacing: var(--headerMenu-spacing);
    position: relative;
}

.header__nav a::after{
    content: '';
    position: absolute;
    top: calc(50% + 2.5px);
    left: 0;
    height: 5px;
    width: 100%;
    background: #000;
    transition: all 250ms ease;
    transform: scaleX(0);
    transform-origin: center;
}

.header__nav a:hover::after{
    transform: scaleX(1);
}

.header__nav a:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: all 250ms ease;

    animation:GradientScroll 7s ease infinite;
    background-size: 200% 100%;
    background-image:linear-gradient(90deg,#d97d01,#01928f 40%,#01928f 50%,#9e81d2 60%,#d97d01 80%,#d97d01);
}

.header__nav-last{
    margin: 0 17px 0 4rem !important;
}

.main{
    width: 100%;
    height: auto;
    padding-top: 10rem;
    overflow: hidden;
    position: relative;
}

.main__content{
    width: calc(100% - 8rem);
    margin: 0 auto;
    height: 100%;
}

.main__start{
    width: 100%;
    height: calc(100vh - 14rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.main__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.main__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main__text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: -3px;
    align-items: center;
    z-index: 1;
}

.main__text-content{
    font-size: 7.2rem;
    color: white;
    font-family: var(--font-main);
    text-align: justify;
}


.main__about{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about__hi{
    width: 100%;
    height: auto;
    padding: 15rem 0;
    grid-column: 3/11;
}

.about__me{
    width: 100%;
    height: auto;
    position: relative;
    grid-column: 6/12;
}

.about__me img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/*.about__me::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
*/

.text-regular{
    color: black;
    font-family: var(--font-main);
    letter-spacing: var(--textRegular-spacing);
    font-size: 2.2rem;
    display: inline-block;
}

.text-article{
    color: black;
    font-family: var(--font-main);
    letter-spacing: var(--textArticle-spacing);
    font-size: 2.2rem;
    text-align: justify;
    display: inline-block;
}

.text-secondary{
    font-family: var(--font-main);
    letter-spacing: -1px;
    font-size: 2.2rem;
    display: inline-block;
    color: rgba(0, 0, 0, .5);
}

.text-counter{
    font-family: var(--font-main);
    letter-spacing: var(--textConter-spacing);
    /*color: rgba(0, 0, 0, .5);*/
    font-size: 7.2rem;
}

.about__text1{
    width: 100%;
    height: auto;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

.about__text1 span{
    position: relative;
    padding-bottom: calc(26px * 2);
}

.about__text1 svg{
    width: 26px;
    height: 26px;
    transform: rotate(270deg);
}

.about__text2{
    width: 100%;
    height: auto;
    padding: 15rem 0 7.5rem 0;
    grid-column: 3/11;
    display: flex;
    justify-content: space-between;
}

.about__text3{
    width: 100%;
    height: auto;
    grid-column: 3/11;
    padding: 7.5rem 0 15rem 0;
    text-align: center;
}

.about__devider{
    width: 100%;
    height: 15rem;
    grid-column: 6/8;
    margin-bottom: 15rem;
}

.about__devider-body{
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    margin: 0 auto;
    position: relative;
}

.about__devider-body:after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    transform: scaleY(.5);
    transform-origin: bottom;
    animation: deviderMove 5000ms ease 250ms infinite normal forwards;
}

@keyframes deviderMove{
    0%{
        transform-origin: bottom;
    }
    25%{
        transform-origin: center;
    }
    50%{
        transform-origin: top;
    }
    75%{
        transform-origin: center;
    }
    100%{
        transform-origin: bottom;
    }
}


.about__picture{
    width: 100%;
    height: 100%;
    padding-bottom: 15rem;
}

.about__picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__picture1{
    grid-column: 1/9;
}

.about__text4{
    grid-row: 6/7;
    grid-column: 9/-1;
    justify-self: center;
    align-self: center;
}

.about__picture2{
    grid-column: 7/12;
}

.about__picture2 img,
.about__picture3 img{
    filter: grayscale(1);
}

.about__text5{
    grid-row: 7/8;
    grid-column: 1/7;
    justify-self: center;
    align-self: center;
}

.about__picture3{
    grid-column: 4/10;
}

.about__text6{
    grid-row: 8/9;
    grid-column: 10/-1;
    justify-self: center;
    align-self: center;
}

.about__text7{
    width: 100%;
    height: auto;
    grid-column: 3/11;
    padding: 0 0 2.5rem 0;
    text-align: center;
}
 
.about__text8{
    width: 100%;
    height: auto;
    grid-column: 3/11;
    padding: 0 0 0 0;
    text-align: center;
}

.about__text8 span{
    font-size: 11.2rem;
    letter-spacing: var(--textLarge-spacing);
}

.about__text8 .gradient-text{
    font-weight: 900;
}

.about__quiz{
    grid-column: 3/11;
    width: 100%;
    height: auto;
    padding: 7.5rem 0;
}

.quiz__question{
    display: flex;
    justify-content: space-around;
    transition: all 250ms ease;
}

.quiz__question-off{
    opacity: 0;
    transition: all 150ms ease;
    animation: quizQ-off 250ms ease 150ms 1 normal forwards;
}

@keyframes quizQ-off{   
    100%{
        transform: scale(0);
    }
}

.quiz__question .text-regular{
    position: relative;
    transition: all 250ms ease;
    cursor: pointer;
}

.quiz__question .text-regular:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background: #000;
    transition: all 250ms ease;
    transform: scaleX(0);
    transform-origin: center;
}

.quiz__question .text-regular:hover::after{
    transform: scaleX(1);
}

.quiz__question .text-regular:nth-of-type(1):hover{
    color:  #e14141;
}

.quiz__question .text-regular:nth-of-type(2):hover{
    color: #4169e1;
}

.quiz__reply{
    opacity: 0;
    transition: all 250ms ease;
    position: relative;
}

.quiz__reply-on{
    opacity: 1;
    transition: all 250ms 250ms ease;
    transform: translateY(-26px);
    /*animation: quizR-on 250ms ease 0ms 1 normal forwards;*/
}

.quiz__reply .text-regular{
    width: 100%;
    text-align: center;
    position: relative;
}

.quiz__loading{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: calc(-100% - 3.25rem);
    left: 0;
    font-size: 2.2rem;
    font-family: var(--font-main);
    text-align: center;
    opacity: 0;
}

.quiz__loading-on{
    animation: quizL-on 5000ms ease 1000ms 1 normal forwards;
}


@keyframes quizL-on{   
    0%{
        opacity: 0; 
    }
    20%{
        opacity: .75;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: .75;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* WORK */

.main__work,
.work__mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateY(100%);
    transition: all 1000ms ease-in 6000ms;
}

.main__work{
    background: var(--workBg-color);
}


.work__wrapper-on{
    transform: translateY(0%);
    transition: all 1000ms ease-in 6500ms;
    animation: workOverflow-off 100ms ease 7500ms 1 normal forwards;
}

@keyframes workOverflow-off{
    100%{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.work__mask{
    background: var(--workMaskBg-color);
}

.work__mask-on{
    transform: translateY(0%);
    transition: all 1000ms ease-in 6000ms;
}

.work__content{
    width: calc(100% - 8rem);
    height: auto;
    margin: 0 auto;
    opacity: 0;
}

.work__content-on{
    opacity: 1;
    transition: all 500ms ease-in 7500ms;
}

.work__start{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.work__first{
    /*padding: 15rem 0 2.5rem 0;*/
}


.work__lable{
}

.work__lable .text-regular{
    font-size: 30rem;
    font-weight: 900;
    letter-spacing: var(--textLargeWorks-spacing);
    line-height: 1;
}

.work__second{
}

.work__second span{
    color: rgba(0, 0, 0, .5);
}

.work__arrow{
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.work__arrow svg{
    object-fit: contain;
}

.work__body{
    width: 100%;
    height: auto;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work__picture{
    margin-bottom: 15rem;
}

.work__picture:last-of-type{
    margin-bottom: 0rem;
}

.work__picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.picture-gray{
    filter: grayscale(1);
}

.work__body-about{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.work__body-about .text-regular{
    grid-column: 4/11;
    text-align: justify;
    padding-top: 10rem;
    padding-bottom: calc(26px * 2);
}

.work__body-about .text-regular:last-of-type{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* CONTACT */

.main__contact{
    width: 100%;
    height: 200vh;
    background: #000;
}

.contact__wave{
    width: 100%;
    height: auto;
    position: relative;
}

.contact__wave:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 5px;
}

.contact__wave svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(180deg);
}