*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*ddd*/
}

.black{
    color: black;
    transition: all 250ms ease;

}

body,html{
    width: 100%;
    height: 100vh;
    font-size: 10px;
    
}

.body-on{
    overflow: hidden;
}


.gradient-text{
    background: linear-gradient(90deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 500% 100%;
    background-repeat: repeat;
    animation: gradientText 7s linear infinite;
    animation-direction: alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.wrapper{
    width: 100vw;
    height: auto;
}


.menu__wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #f5f6fa;
    position: absolute;

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: rgba(0,0,0,0.5);
    transition: all 250ms ease;
    text-align: right;
}

.menu__item .black{
    cursor: pointer;
    font-family: 'HelveticaMedium';
}

.menu__item .black:hover{
    color: rgba(0,0,0,0.5);
}

.about{
    position: relative;
}

.about:after{
    position: absolute;
    content: 'me';
    top: 0;
    color: rgba(0,0,0,0.5);
}

.page__wrapper{
    width: 100%;
    height: auto;
    position: absolute;
    background: white;
    transition: all 250ms ease;
    overflow: hidden;
}

.page__wrapper-on{
    margin: 2rem 0;
    height: calc(100vh - 4rem);
    overflow: hidden;
    border-radius: 24px;   
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

.page{
    width: 100%;
    height: auto;
    position: relative;  
}

/*header*/

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content{
    width: calc(100% - 10rem);
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__component{
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: black;
    transition: all 250ms ease;
}

.header__component:hover{
    opacity: .7;
}

.header__menu{
    cursor: pointer;
}

/*lable*/

.label{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label__content{
    max-width: 768px;
    height: auto;
    position: relative;
    
}

.label__text{
    font-size: 5rem;
    font-family: 'HelveticaMedium';
    color: black;
}

.label__text p{
    margin-bottom: 1rem;
}

.h2{
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: rgba(0,0,0,0.5);
    letter-spacing: -.5px;
    
}


/*projects*/

.projects{
    width: 100%;
    height: auto;
}

.projects__content{
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: auto;
}

.project__picture{
    min-width: 100%;
    height: auto;
}

.project__picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__description{
    width: 100%;
    height: 20vh;
    display: flex;
}

.project__number{
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-family: 'HelveticaRegular';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

/*.project__number:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 5px;
    height: 90%;
    background: lightgray;
}*/

.project__text{
    width: 100%;
    height: 100%;
    flex: 2;
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__text a{
    color: black;
    text-decoration: none;
}