*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "EB Garamond";
    src: url("https://fonts.gstatic.com/s/ebgaramond/v13/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL99U6g.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "HelveticaNeueLTPro-HvEx";
    src: url("../fonts/381212_0_0.woff2") format("woff2");
  }

.black{
    color: black;
    transition: all 250ms ease;

}

.bold{
    color: black;
    font-family: 'HelveticaMedium';
}

.italic-time{
    font-family: 'EB Garamond';
    font-size: calc(100% + 5px);
}

body,html{
    width: 100%;
    height: 100vh;
    font-size: 10px;
    
}

.body-on{
    overflow: hidden;
}


.gradient-text{
    background: linear-gradient(90deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 500% 100%;
    background-repeat: repeat;
    animation: gradientText 7s linear infinite;
    animation-direction: alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.wrapper{
    width: 100vw;
    height: auto;
    overflow: hidden;
}


.menu__wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #f5f6fa;
    position: absolute;
    overflow: hidden;

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__item{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: rgba(0,0,0,0.5);
    transition: all 250ms ease;
    text-align: right;
}

.menu__item .black{
    cursor: pointer;
    font-family: 'HelveticaMedium';
}

.menu__item .black:hover{
    color: rgba(0,0,0,0.5);
}

#menu__item_mail{
    position: absolute;
    bottom: 5rem;
    display: none;
}

.menu__item_mail-on{
    display: block !important;

}


.page__wrapper{
    width: 100%;
    height: auto;
    position: absolute;
    background: white;
    transition: all 250ms ease;
    overflow: hidden;
}

.page__wrapper-on{
    margin: 2rem 0;
    height: calc(100vh - 4rem);
    overflow: hidden;
    border-radius: 24px;   
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

.page{
    width: 100%;
    height: auto;
    position: relative;  
}

/*header*/

.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

.header__content{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__component{
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: black;
    transition: all 250ms ease;
}

.header__component:hover{
    opacity: .7;
}

.header__menu{
    cursor: pointer;
}

/*lable*/

.label{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label__content{
    max-width: 768px;
    height: auto;
    position: relative;
    
}

.label__text{
    font-size: 5rem;
    font-family: 'HelveticaMedium';
    color: black;
    letter-spacing: -0.6px;

}

.label__text p{
    margin-bottom: 1rem;
}

.h2{
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: rgba(0,0,0,0.5);
    letter-spacing: -0.6px;
    
}


/*projects*/

.projects{
    width: 100%;
    height: auto;
}

.projects__content{
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: auto;
}

.project__article{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.project__picture{
    min-width: 100%;
    height: auto;
    position: relative;
}

.project__picture:hover:after{
    opacity: 1;
}

.project__picture:after{
    content: 'click to view';
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    font-family: 'HelveticaMedium';
    font-size: 2.2rem;
    opacity: 0;
    transition: all 500ms ease;
}

.project__picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__description{
    
    height: auto;
    display: flex;
    padding: 2rem 0;
}

.project__number{
    font-size: 10rem;
    font-family: 'HelveticaLight';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.project__text{
    flex: 2;
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__text a{
    color: black;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    height: auto;
    overflow: hidden;
}

/* offer */

.offer{
    width: 100%;
    height: auto;
}

.offer-off,
.projects-off{
    display: none;
}

.offer__wrapper{
    max-width: 1024px;
    width: calc(100% - 4rem);
    margin: 0 auto;
    height: auto;
}

.offer__content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 2rem;
}

.offer__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f6fa;
    position: relative;
    transition: all 250ms ease;
    cursor: pointer;
}

.offer__item:hover::after{
    right: 40px;
}

.offer__item:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
    background-image: url(../icons/point-to.svg);
    background-repeat: no-repeat;
    transition: all 250ms ease;
    background-size: contain;
}

.offer__lable{
    width: 100%;
    height: auto;
    color: black;
    font-size: 4.2rem;
    font-family: 'HelveticaMedium';
    padding: 0 2rem 1rem 2rem;
}

.offer__description{
    width: 100%;
    height: auto;
    color: rgba(0,0,0,0.5);
    font-size: 2.2rem;
    padding: 0 2rem;
    font-family: 'HelveticaMedium';
}



.offer__best .offer__lable,
.offer__best .offer__description{
    border-left: 5px solid #ed1b24;
}

.offer__other .offer__lable,
.offer__other .offer__description{
    border-left: 5px solid #ffc637;
}

.offer__skill .offer__lable,
.offer__skill .offer__description{
    border-left: 5px solid #1b88ed ;
}

.offer__question .offer__lable,
.offer__question .offer__description{
    border-left: 5px solid #7d1bed;
}

.main{
    position: relative;
}

/* works */

.works{
    width: 100%;
    height: auto;
    background: white;
    display: none;
}

.works-on{
    display: block;
}

.works__wrapper{
    max-width: 1024px;
    width: calc(100% - 4rem);
    height: auto;
    margin: 0 auto;
}

.works__close{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.works__close span{
    font-family: 'HelveticaMedium';
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 250ms ease;
}

.works__close span:hover{
    opacity: .7;
}

#works__attention{
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 2rem 0 4rem 0;
    padding: 2rem;
    position: relative;
}

.works__attention-off{
    display: none;
}

#works__attention-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.9rem;
    height: 2.9rem;
    cursor: pointer;
    background-image: url(../icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.works__attention-headreing{
    font-size: 2.6rem;
    font-family: 'HelveticaMedium';
    margin-bottom: 2rem;
}

.works__attention-text{
    font-size: 2.2rem;
    color: rgba(0,0,0,0.5);
    font-family: 'HelveticaRegular';
}

.works__article{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-bottom: 2rem;
}

.works__text,
.works__picture{
    width: 100%;
}

.works__headering{
    font-size: 2.6rem;
    font-family: 'HelveticaMedium';
}

.works__subhead{
    font-size: 2.2rem;
    color: rgba(0,0,0,0.5);
    font-family: 'HelveticaRegular';
    margin-bottom: 2rem;
}

.works__features{
    font-size: 2.2rem;
    font-family: 'HelveticaRegular';
    padding-right: 20rem;
    margin-bottom: 2rem;
    color: rgba(0,0,0,0.5);
}


.works__article[data-startwork="true"] .works__picture:after{
    content: '⭐';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2rem;
}

.works__picture{
    height: auto;
    padding-bottom: 75%;
    position: relative;
}


.works__picture img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__btn{
    width: 100%;
    height: auto;
    font-size: 2.2rem;
    font-family: 'HelveticaMedium';
    color: royalblue;
    cursor: pointer;
    transition: all 250ms ease;
    text-decoration: none;
}

.works__btn:hover{
    opacity: .7;
}

@media all and (max-width: 1024px){
    .label__content{
        max-width: 625px;
    }

    .label__text{
        font-size: 4.2rem;
    }
    .h2{
        font-size: 2.2rem;
    }

    .project__description{
        max-width: 768px;
        margin: 0 auto;
    }
    .offer__lable{
        font-size: 4rem;
    }
    .offer__description{
        font-size: 2.09rem;
    }
    .offer__item::after{
        right: 40px
    }
    .offer__item:hover:after{
        right: 30px;
    }

    .works__features{
        padding-right: 17.5rem;
    }
}

@media all and (max-width: 900px){
    .works__features{
        padding-right: 12rem;
    }
}

@media all and (max-width: 768px){
    .menu__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .label__content{
        max-width: 525px;
    }

    .label__text{
        font-size: 3.528rem;
    }


    .project__number {
        font-size: 8rem;
    }

    .project__text{
        font-size: 2.08rem;
    }

    .offer__item:after{
        display: none;
    }
    .offer__lable{
        font-size: 3.6rem;
    }
    .offer__description{
        font-size: 2.09rem;
    }

    .works__features{
        padding-right: 10rem;
    }

    .works__subhead,
    .works__features{
        font-size: 2.09rem;
    }

    .works__picture img{
        object-fit: contain;
    }
}

@media all and (max-width: 666px){
    .offer__content{
        grid-template-rows: 150px 150px;
        grid-gap: 1.5rem;
    }

    .offer__lable{
        font-size: 3.2rem;
    }
    .offer__description{
        font-size: 1.8rem;
    }

    .menu__wrapper{
        grid-template-columns: 2fr 1fr;
    }

    .works__article{
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
    }

    .works__text{
        margin-bottom: 2.5rem;
    }

    .works__picture{
        grid-row: 1/2;
        grid-column: 1/-1;
        margin-bottom: 2rem;
    }
}

@media all and (max-width: 525px){
    .label{
        height: 60vh;
    }

    .header{
        padding: 2rem 2.5rem;
    }

    .label__content{
        max-width: 425px;
        width: calc(100% - 4rem);
    }

    .label__text{
        font-size: 3.087rem;
        
    }

    .h2{
        font-size: 2rem;
        letter-spacing: -0.3px;
    }

    .project__number {
        font-size: 6rem;
    }

    .offer__content{
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .offer__item:after{
        display: block;
    }

}

@media all and (max-width: 425px){
    .label__text{
        font-size: 2.7011rem;
    }

    .label__content{
        max-width: 375px;
    }

    .h2{
        font-size: 1.8rem;
    }

    .menu__item{
        font-size: 2.2rem;
    }

    .project__text{
        font-size: 1.8rem;
    }

    .offer__content{
        grid-gap: 1rem;
    }

    .offer__item:after{
        right: 20px;
    }

    .works__features{
        padding-right: 5rem;
    }
}

@media all and (max-width: 375px){
    .menu__wrapper{
        grid-template-columns: 3fr 1fr;
    }

    .offer__content{
        grid-template-rows: 125px 125px 125px 125px;
    }

    .offer__lable{
        font-size: 2.6rem;
        padding: 0rem 0rem 1rem 1rem;
    }

    .offer__description{
        padding: 0rem 0rem 0rem 1rem;
        font-size: 1.6rem;
    }

    .offer__item:after{
        width: 40px;
        height: 40px;
    }

    .works__wrapper{
        width: calc(100% - 2rem);
    }

    .works__features{
        padding-right: 2.5rem;
    }

}

@media all and (max-width: 320px){
    .menu__item{
        font-size: 2rem;
    }

    .offer__description{
        font-size: 1.4rem;
    }
}
