*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "EB Garamond";
    src: url("https://fonts.gstatic.com/s/ebgaramond/v13/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL99U6g.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  

.black{
    color: black;
    transition: all 250ms ease;

}

.italic-time{
    font-family: 'EB Garamond';
    font-size: calc(100% + 5px);
}

body,html{
    width: 100%;
    height: 100vh;
    font-size: 10px;
    
}

.body-on{
    overflow: hidden;
}


.gradient-text{
    background: linear-gradient(90deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 500% 100%;
    background-repeat: repeat;
    animation: gradientText 7s linear infinite;
    animation-direction: alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.wrapper{
    width: 100vw;
    height: auto;
    overflow: hidden;
}


.menu__wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #f5f6fa;
    position: absolute;
    overflow: hidden;

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__item{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: rgba(0,0,0,0.5);
    transition: all 250ms ease;
    text-align: right;
}

.menu__item .black{
    cursor: pointer;
    font-family: 'HelveticaMedium';
}

.menu__item .black:hover{
    color: rgba(0,0,0,0.5);
}

#menu__item_mail{
    position: absolute;
    bottom: 0;
    display: none;
}

.menu__item_mail-on{
    display: block !important;

}


.page__wrapper{
    width: 100%;
    height: auto;
    position: absolute;
    background: white;
    transition: all 250ms ease;
    overflow: hidden;
}

.page__wrapper-on{
    margin: 2rem 0;
    height: calc(100vh - 4rem);
    overflow: hidden;
    border-radius: 24px;   
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

.page{
    width: 100%;
    height: auto;
    position: relative;  
}

/*header*/

.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

.header__content{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__component{
    font-size: 2.5rem;
    font-family: 'HelveticaMedium';
    color: black;
    transition: all 250ms ease;
}

.header__component:hover{
    opacity: .7;
}

.header__menu{
    cursor: pointer;
}

/*lable*/

.label{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.label__content{
    max-width: 768px;
    height: auto;
    position: relative;
    
}

.label__text{
    font-size: 5rem;
    font-family: 'HelveticaMedium';
    color: black;
    letter-spacing: -0.6px;

}

.label__text p{
    margin-bottom: 1rem;
}

.h2{
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: rgba(0,0,0,0.5);
    letter-spacing: -0.6px;
    
}


/*projects*/

.projects{
    width: 100%;
    height: auto;
}

.projects__content{
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: auto;
}

.project__picture{
    min-width: 100%;
    height: auto;
}

.project__picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__description{
    
    height: auto;
    display: flex;
    padding: 2rem 0;
}

.project__number{
    font-size: 10rem;
    font-family: 'HelveticaLight';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

/*.project__number:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 5px;
    height: 90%;
    background: lightgray;
}*/

.project__text{
    flex: 2;
    font-size: 2.6rem;
    font-family: 'HelveticaRegular';
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__text a{
    color: black;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    height: auto;
    overflow: hidden;
}


@media all and (max-width: 1024px){
    .label__content{
        max-width: 625px;
    }

    .label__text{
        font-size: 4.2rem;
    }
    .h2{
        font-size: 2.2rem;
    }

    .project__description{
        max-width: 768px;
        margin: 0 auto;
    }


}

@media all and (max-width: 768px){
    .menu__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .label{
        padding: 15rem 0;
        height: auto;
    }

    .label__content{
        max-width: 525px;
    }

    .label__text{
        font-size: 3.528rem;
    }


    .project__number {
        font-size: 8rem;
    }

    .project__text{
        font-size: 2.08rem;
    }
}

@media all and (max-width: 525px){
    .header{
        padding: 2rem 2.5rem;
    }

    .label__content{
        max-width: 425px;
        width: calc(100% - 4rem);
    }

    .label__text{
        font-size: 3.087rem;
        
    }

    .h2{
        font-size: 2rem;
        letter-spacing: -0.3px;
    }

    .project__number {
        font-size: 6rem;
    }

    .menu__wrapper{
        grid-template-columns: 2fr 1fr;
    }

}

@media all and (max-width: 425px){
    .label__text{
        font-size: 2.7011rem;
    }

    .label__content{
        max-width: 375px;
    }

    .h2{
        font-size: 1.8rem;
    }

    .menu__item{
        font-size: 2.2rem;
    }

    .project__text{
        font-size: 1.8rem;
    }
}

@media all and (max-width: 375px){
    .menu__wrapper{
        grid-template-columns: 3fr 1fr;
    }
}

@media all and (max-width: 320px){
    .menu__item{
        font-size: 2rem;
    }
}
