/* GENERAL SETTINGS */

@font-face {
    font-family: eUkraineLight;
    src: url("../fonts/e-Ukraine-Light.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/e-Ukraine-Light.woff2") format("woff2"), 
         url("../fonts/e-Ukraine-Light.woff") format("woff"), 
         url("../fonts/e-Ukraine-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: eUkraineRegular;
    src: url("../fonts/e-Ukraine-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/e-Ukraine-Regular.woff2") format("woff2"), 
         url("../fonts/e-Ukraine-Regular.woff") format("woff"), 
         url("../fonts/e-Ukraine-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box  !important;
}

.h0{
    font-family: 'eUkraineRegular';
    font-size: 5.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: block;
    color: black;
}

.p1{
    font-family: 'eUkraineLight';
    font-size: 2rem;
    margin-bottom: 1.5rem;
    display: block;
    color: black;
}

.gray{
    color: rgba(0, 0, 0, 0.5);
}

:root{
    /* light mode*/
    --purple-light: #6C63FF;
    --purple-dark: #564fcc;
    --lightgray: #f5f6fa;
    --white: #fff;
    --black: #000;

    /* dark mode*/
    --dark-black: #000000;
    --dark-gray: #24292c;
    --dark-lightgray: #383b40;
    --dark-lightlightgray: #8b8b8d;
    --dark-white: #ffffff;
}

body, 
html
{
    width: 100%;
    height: auto;
    background: #fbfafb;
    font-size: 10px;
}

.wrapper{
    width: 100%;
    height: auto;
    transition: all 500ms ease;
}

.change-color-pink{
    background: #eee6f3;
}

.change-color-yellow{
    background: #f3f4e6;
}


.header{
    width: 100%;
    height: 90vh;
}

.header__content{
    max-width: 1440px;
    margin: auto;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px 1fr;
    grid-template-rows: 100px 1fr;
}

.header__menu{
    width: 100%;
    height: 100%;
}

.menu{
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu__logo{
    font-family: 'Rich';
    font-size: 5rem;
    color: var(--purple-dark);
    cursor: pointer;
}

.menu__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu__item{
    padding: 1rem 1.5rem;
    font-family: 'eUkraineLight';
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    cursor: pointer;
}

.menu__start{
    background: var(--purple-light);
    color: white;
    border-radius: 24px;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.menu__start:hover{
    background: var(--purple-dark);
}

/*header__main*/

.header__main{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__promo,
.header__picture{
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    
}

.header__promo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    position: relative;
}

.header__promo_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header__promo_img_path[d]{
    d: path("M157.4,-124.2C200.6,-71.3,230,-6.1,222.5,60.4C215,126.9,170.6,194.5,111.1,218.4C51.6,242.4,-23,222.5,-89.2,189.2C-155.4,155.8,-213.2,108.8,-231.6,47.4C-250,-14,-229,-89.9,-183.8,-143.3C-138.6,-196.6,-69.3,-227.3,-6.1,-222.4C57.1,-217.5,114.1,-177,157.4,-124.2Z");
    fill: #eee6f3;
    -webkit-animation: shapesAnim 10s ease-out 0s infinite normal forwards;
            animation: shapesAnim 10s ease-out 0s infinite normal forwards;

}

@-webkit-keyframes shapesAnim{
    0%{
        d: path("M157.4,-124.2C200.6,-71.3,230,-6.1,222.5,60.4C215,126.9,170.6,194.5,111.1,218.4C51.6,242.4,-23,222.5,-89.2,189.2C-155.4,155.8,-213.2,108.8,-231.6,47.4C-250,-14,-229,-89.9,-183.8,-143.3C-138.6,-196.6,-69.3,-227.3,-6.1,-222.4C57.1,-217.5,114.1,-177,157.4,-124.2Z");
    }
    25%{
        d: path("M187.1,-148.2C222.1,-105.4,215.8,-28.8,194,35.2C172.1,99.2,134.7,150.5,80.9,181.6C27.2,212.6,-42.8,223.4,-107.6,200.9C-172.4,178.3,-231.9,122.4,-250.5,53.6C-269.1,-15.3,-246.8,-97.1,-198.2,-143C-149.6,-189,-74.8,-199,0.7,-199.5C76.1,-200,152.2,-191,187.1,-148.2Z");
    }
    50%{
        d: path("M195.2,-142.1C239.7,-99.8,253.4,-19.4,232.7,45.8C211.9,110.9,156.7,160.9,92,192.6C27.3,224.3,-46.9,237.9,-112,213.7C-177.2,189.6,-233.4,127.8,-243.7,61.6C-254,-4.6,-218.5,-75.2,-170.2,-118.4C-122,-161.6,-61,-177.3,7.2,-183C75.3,-188.7,150.6,-184.5,195.2,-142.1Z");
    }
    75%{
        d: path("M194.8,-143.5C239,-100,252.1,-19.7,227.6,37.6C203.1,95,141,129.5,78.5,157.5C15.899999999999999,185.6,-47.1,207.2,-104.3,189.9C-161.5,172.7,-212.9,116.5,-227.6,51.9C-242.3,-12.600000000000001,-220.5,-85.5,-176.4,-129C-132.4,-172.6,-66.2,-186.8,4.6,-190.4C75.3,-194.1,150.6,-187.1,194.8,-143.5Z");
    }
    100%{
        d: path("M157.4,-124.2C200.6,-71.3,230,-6.1,222.5,60.4C215,126.9,170.6,194.5,111.1,218.4C51.6,242.4,-23,222.5,-89.2,189.2C-155.4,155.8,-213.2,108.8,-231.6,47.4C-250,-14,-229,-89.9,-183.8,-143.3C-138.6,-196.6,-69.3,-227.3,-6.1,-222.4C57.1,-217.5,114.1,-177,157.4,-124.2Z");
    }
}

@keyframes shapesAnim{
    0%{
        d: path("M157.4,-124.2C200.6,-71.3,230,-6.1,222.5,60.4C215,126.9,170.6,194.5,111.1,218.4C51.6,242.4,-23,222.5,-89.2,189.2C-155.4,155.8,-213.2,108.8,-231.6,47.4C-250,-14,-229,-89.9,-183.8,-143.3C-138.6,-196.6,-69.3,-227.3,-6.1,-222.4C57.1,-217.5,114.1,-177,157.4,-124.2Z");
    }
    25%{
        d: path("M187.1,-148.2C222.1,-105.4,215.8,-28.8,194,35.2C172.1,99.2,134.7,150.5,80.9,181.6C27.2,212.6,-42.8,223.4,-107.6,200.9C-172.4,178.3,-231.9,122.4,-250.5,53.6C-269.1,-15.3,-246.8,-97.1,-198.2,-143C-149.6,-189,-74.8,-199,0.7,-199.5C76.1,-200,152.2,-191,187.1,-148.2Z");
    }
    50%{
        d: path("M195.2,-142.1C239.7,-99.8,253.4,-19.4,232.7,45.8C211.9,110.9,156.7,160.9,92,192.6C27.3,224.3,-46.9,237.9,-112,213.7C-177.2,189.6,-233.4,127.8,-243.7,61.6C-254,-4.6,-218.5,-75.2,-170.2,-118.4C-122,-161.6,-61,-177.3,7.2,-183C75.3,-188.7,150.6,-184.5,195.2,-142.1Z");
    }
    75%{
        d: path("M194.8,-143.5C239,-100,252.1,-19.7,227.6,37.6C203.1,95,141,129.5,78.5,157.5C15.899999999999999,185.6,-47.1,207.2,-104.3,189.9C-161.5,172.7,-212.9,116.5,-227.6,51.9C-242.3,-12.600000000000001,-220.5,-85.5,-176.4,-129C-132.4,-172.6,-66.2,-186.8,4.6,-190.4C75.3,-194.1,150.6,-187.1,194.8,-143.5Z");
    }
    100%{
        d: path("M157.4,-124.2C200.6,-71.3,230,-6.1,222.5,60.4C215,126.9,170.6,194.5,111.1,218.4C51.6,242.4,-23,222.5,-89.2,189.2C-155.4,155.8,-213.2,108.8,-231.6,47.4C-250,-14,-229,-89.9,-183.8,-143.3C-138.6,-196.6,-69.3,-227.3,-6.1,-222.4C57.1,-217.5,114.1,-177,157.4,-124.2Z");
    }
}

.header__promo_content{
    position: relative;
    max-width: 80%;
    height: auto;
}



.header__picture img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.header__feature,
.header__btn{
    width: auto;
    height: auto;
    margin-bottom: 2.5rem;

}

.header__feature_item{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 2.2rem;
    font-weight: 700;
    color: #6C63FF;
    padding: 0 0 0 3.5rem;
    margin-right: 3rem;
}

.header__writer{
    background-image: url('../imgs/index/bg/writer.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__poems{
    background-image: url('../imgs/index/bg/poems.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__analysis{
    background-image: url('../imgs/index/bg/analysis.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__btn_item{
    display: inline-block;
    font-family: 'Roboto';
    margin-right: 1rem;
    font-size: 2.2rem;
}

.header__btn_more{
    padding: 1rem 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    transition: all 250ms ease;
    cursor: pointer;

}

.header__btn_more:hover{
    color: black;
}

.header__btn_start{
    background: #6C63FF;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 24px;
    cursor: pointer;
    transition: all 250ms ease;
}

.header__btn_start:hover{
    background: var(--purple-dark);

}

/*main*/

.main{
    width: 100%;
    height: auto;
}

.main__content{
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
}

.section{
    width: 100%;
    height: auto;
    padding: 10vh 0 0 0;
    background: #eee6f3;
    transition: all 250ms ease;
    margin-bottom: 10vh;
}

.section_night{
    width: 100%;
    height: auto;
    padding: 0;
    background: #F2F0E6;
    transition: all 250ms ease;
    margin-bottom: 10vh;
    display: flex;
}

.section_night .section__text,
.section_night .section__picture{
    flex: 1;
}

.section_night .section__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_night .section__text .p1{
    padding: 0 15%;
    margin-bottom: 2rem;
}

#section-2{
    background: #e6edf3;
}

#section-3{
    background: #f2e6e6;
}


.section__text{
    width: 100%;
    height: auto;
}

.section__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.section__heading span,
.section__subheading span{
    margin: 0;
}

.section__heading img{
    width: 67px;
    height: 67px;
    margin: 0 1rem;
}

.section__subheading{
    display: block;
    width: 100%;
    text-align: center;
}

.section__picture{
    margin: 0 auto;
    max-width: 1024px;
    height: auto; 
}

.section__picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section__btn{
    width: 100%;
    height: auto;
    text-align: center;
}

#section__btn-darkmd{
    display: inline-block;
    background:#1c1c1e;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem 1.5rem 1rem 4.5rem;
    border-radius: 24px;
    cursor: pointer;
    font-size: 2.2rem;
    font-family: 'Roboto';
    transition: all 250ms ease;
    background-image: url('../imgs/main/icons/moon.svg');
    background-size: 25%;
    background-position: left 1rem center;
    background-repeat: no-repeat;


}

.section__btn-darkmd-on{
    background-image: url('../imgs/main/icons/sun.svg') !important;
}