*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: auto;
    font-size: 10px;
    line-height: 1.25;
}

:root{
    --font-main: var(--font-Montserrat);
    --font-second: var(--font-Roboto);

    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;

    --font-eUkrBLD: 'eUkraine Bold', sans-serif;
    --font-eUkrREG: 'eUkraine Regular', sans-serif;
    --font-eUkrLGH: 'eUkraine Light', sans-serif;
    --font-eUkrMED: 'eUkraine Medium', sans-serif;
    --font-eUkrTIN: 'eUkraine Thin', sans-serif;


    --color-nav-link: rgb(51, 58, 77);
    --color-nav-link-hovered: black;
    --color-btn-bg: #378ff6;
    --color-btn-shadow: 0 6px 12px rgba(55,143,246, 0.25);
}

:focus{
    /*outline-width: 5px;
    outline-style: solid;
    outline-color: #439966;
    border-radius: 5px;*/
}

.page__wrapper,
.page__section{
    width: 100%;
    height: auto;
}

h1{
    font-family: var(--font-eUkrMED);
    font-size: 4rem;
    color: black;
    font-weight: 600;
}

h2{
    font-size: 3.6rem;
    font-family: var(--font-eUkrMED);
    font-weight: 400;
}

h3{
    font-size: 2rem;
    font-family: var(--font-eUkrLGH);
    display: inline-block;
    font-weight: 300;
}

h4{
    font-family: var(--font-eUkrLGH);
    font-size: 2rem;
    font-weight: 300;
}

h5{
    font-family: var(--font-eUkrLGH);
    font-size: 3.6rem;
    font-weight: 300;
}

/*

    * FIRST BLOCK

*/

.first__block{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.first__wave{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.first__wave img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.first__wave-end{
    bottom: 0;
    left: 0;
}



.block__wrapper{
    width: calc(100% - 4rem);
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.first__wrapper{
    padding-top: 2rem;
}

.first__wrapper{
    width: calc(100% - 4rem);
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.first__header{
    width: 100%;
    height: 10rem;
    border-radius: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    z-index: 1;
    /*border: 1px solid #b8c9df;*/
    margin-bottom: 2rem;
}

.first__header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.first__logo{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first__logo-a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 3.2rem;
    font-family: var(--font-main);
    font-weight: 600;
}

.first__nav{
    width: 100%;
    height: auto;
}

.first__nav-list{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.first__nav-item{
    list-style: none;
    margin-right: 2rem;
    height: 3rem;
}

.first__nav-item:last-of-type:hover .first__nav-a{
    color: white;
}

.first__nav-a,
.first__nav-btn{
    text-decoration: none;
    color: var(--color-nav-link);
    font-family: var(--font-eUkrLGH);
    font-size: 1.6rem;
    transition: all 250ms ease;
    padding: 0 2rem;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.first__nav-attention{
    background: var(--color-btn-bg);
    box-shadow: var(--color-btn-shadow);
    color: white;
}

.first__nav-a:hover,
.first__nav-btn:hover{
    color: var(--color-nav-link-hovered);
}

.block__content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.block__content-colomn{
    padding-bottom: 100%;
    width: 100%;
    position: relative;
}

.block__content-section,
.block__content-illustration{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.block__content-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fifth__content-section,
.second__content-section,
.third__content-section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.block__content-text{
    max-width: 80%;
}

.block__section{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10rem 0;
}

.first__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.third__content,
.second__content,
.fifth__content{
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  15px 15px 30px #e8e8e8, 
             -15px -15px 30px #ffffff;
    /*background-color: white;
    border-radius: 5px;
    border: 1px solid #b8c9df;*/
}

.block__content-illustration-padding,
.block__content-section-padding{
    padding: 4rem;
}

.first__content-headering,
.first__content-subhead{
    display: inline-block;
}

.first__content-list{
    display: flex;
    margin-bottom: 4rem;
}

.first__content-li{
    list-style: none;
    background-image: url(../icons/tick.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    padding-left: 3.5rem;
    margin-right: 2rem;
}

.first__content-feature{
    font-family: var(--font-eUkrREG);
    font-size: 2rem;
    color: var(--color-btn-bg);
}

.block__content-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.first__content-action,
.fifth__content-action{
    display: flex;
}

.first__content-start,
.fifth__content-start,
.first__content-login{
    height: 50px;
    width: auto;
    padding: 0 2rem;
    font-family: var(--font-eUkrLGH);
    font-size: 2.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    transition: all 250ms ease;
}

.first__content-start,
.fifth__content-start{
    margin-right: 2rem;
    background: var(--color-btn-bg);
    box-shadow: var(--color-btn-shadow);
    color: white;
    text-decoration: none;
}

.first__content-start:hover{
    box-shadow: 0;
}

.first__content-login{
    color: #8b92a5;
    font-weight: 300;
    background: white;
    border: 1px solid #b8c9df;
}

/*

    * END FIRST BLOCK

*/

/*

    * SECOND BLOCK

*/

.main-off{
    display: none;
}

.second__block{
    /*background: #f3f4f5;*/
}



.second__text{
    text-align: center;
    font-family: var(--font-main);
    font-size: 4.8rem;
    font-weight: 600;
    color: black;
}



.second__content-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline{
    position: relative;
    z-index: 1;
}

.underline::after{
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    height: 1rem;
    width: 100%;
    background-image: linear-gradient(180deg, #89f7fe 0%, #66a6ff 100%);
    z-index: -1;
    opacity: 0.5;
}

.block__content-text h1,
.block__content-text h2,
.block__content-text h3,
.block__content-text h4{
    margin-bottom: 2rem;
}

.fourth__content{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.fourth__content-colomn{
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  15px 15px 30px #e8e8e8, 
                -15px -15px 30px #ffffff;
    /*border: 1px solid #b8c9df;
    border-radius: 5px;*/
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4rem;
}

.fourth__content-illustration{
    padding-bottom: 100%;
    position: relative;
}

.fourth__content-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fourth__content-section{
    padding: 4rem 0rem 0rem 0rem;
}

.fourth__content-text h2{
    margin-bottom: 1rem;
}

.fourth__content-text h4{
    color: rgba(0,0,0, 0.5);
}

.fifth__content{
    background-image: linear-gradient(180deg, #89f7fe 0%, #66a6ff 100%);
}

.fifth__content-text h2{
    color: rgba(255,255,255, 1);
}

.fifth__content-text h3{
    color: rgba(255,255,255, 0.75);
}

.fifth__content-start{
    background: white;
    color: #378ff6;
}

/*

    * FIFTH BLOCK

*/

.sixth__wrapper{
    margin-bottom: 10rem;
}

.sixth__block{
    /*background: #e7eef3;*/
}

.sixth__content{
    border: 0px solid var(--color-btn-bg);
    grid-template-columns: repeat(12, 1fr);
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #e8e8e8, -15px -15px 30px #ffffff;
}

.sixth__content-row{
    width: 100%;
    height: auto;
    grid-column: 2/12;
}

.sixth__content-details{
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: all 250ms ease;
}

.sixth__content-details:hover{
    border-radius: 5px;
    background: #ffffff;
    box-shadow: none;
}

details[open] summary{
    color: var(--color-btn-bg);
}

details[open] summary::after {
    background-image: url(../icons/minus-icon.svg);
}

details[open] .sixth__content-question{
    padding: 4rem 10% 4rem 2rem;
}

details[open] .sixth__content-question:after{
    right: 2rem;
}

details summary::-webkit-details-marker {
    display: none
}
  
details > summary {
    list-style: none;
}

.sixth__content-question{
    width: 100%;
    cursor: pointer;
    transition: all 250ms ease;
    padding: 4rem 10% 4rem 0;
    position: relative;
}

.sixth__content-question::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    transition: all 250ms ease;
    background-image: url(../icons/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform-origin: center;
}

.sixth__content-question:hover{
    padding: 4rem 10% 4rem 4rem;
    color: var(--color-btn-bg);
}

.sixth__content-question:hover::after{
    right: 2rem;
}

.sixth__content-question:focus{
    outline: none;
}

.sixth__content-details h4{
    padding: 0rem 10% 0rem 2rem;
    margin-left: 2rem;
    border-left: 2px solid var(--color-btn-bg);
}

/*

    * FOOTER

*/

.seventh__block{
    background-color: var(--color-nav-link);
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.seventh__wrapper{
    height: 100%;
}

.seventh__content{
    border: 2px solid rgb(95, 98, 109);
    border-radius: 5px;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas: 
        'svn-logo svn-up svn-map'
        'svn-img svn-mail svn-map';
}

.seventh__item{
    padding: 2rem;
}

.seventh__logo{
    grid-area: svn-logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(95, 98, 109);
    border-right: 1px solid rgb(95, 98, 109);
}

.seventh__logo-a{
    font-size: 3.2rem;
    font-family: var(--font-main);
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.seventh__up{
    grid-area: svn-up;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(95, 98, 109);
    border-left: 1px solid rgb(95, 98, 109);
    border-right: 1px solid rgb(95, 98, 109);
}

.seventh__up-button{
    color: rgba(255,255,255, 0.75);
    transition: all 250ms ease;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.seventh__up-button:hover{
    color: rgba(255,255,255, 1);
}

.seventh__map{
    grid-area: svn-map;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(95, 98, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seventh__map-a{
    text-decoration: none;
    color: rgba(255,255,255, 0.75);
    transition: all 250ms ease;
    margin-bottom: 2rem;
    display: inline-block;
}

.seventh__map-a:hover{
    color: rgba(255,255,255, 1);
}

.seventh__map-a:last-of-type{
    margin-bottom: 0rem;
}

.seventh__img{
    grid-area: svn-img;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(95, 98, 109);
}

.seventh__img-img{
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
}

.seventh__img-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 250ms ease;
    opacity: 0.75;
}

.seventh__img-img img:hover{
    opacity: 1;
}

.seventh__mail{
    grid-area: svn-mail;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(95, 98, 109);
    border-right: 1px solid rgb(95, 98, 109);
}

.seventh__mail-a{
    text-decoration: none;
    color: rgba(255,255,255, 0.75); 
    transition: all 250ms ease;
}

.seventh__mail-a:hover{
    color: rgba(255,255,255, 1); 
}

.seventh__rights{
    text-align: center;
}

.seventh__rights-text{
    color: rgba(255,255,255, 0.75);
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
}

/* media */

@media all and (max-width: 1440px){
    .block__wrapper{
        max-width: 1280px;
    }

    h1{
        font-size: 3.8rem;
    }

    h2,
    h5{
        font-size: 2.8rem;
    }

    h3,
    h4,
    .first__content-feature{
        font-size: 1.8rem;
    }
}

@media all and (max-width: 1280px){
    .block__wrapper{
        max-width: 1024px;
    }

    h1{
        font-size: 3.2rem;
    }

    h2,
    h5{
        font-size: 2.4rem;
    }

    h3,
    h4,
    .first__content-feature{
        font-size: 1.6rem;
    }

    .first__content-start, .fifth__content-start, .first__content-login{
        font-size: 2rem;
    }

    .fourth__content-colomn{
        padding: 3rem;
    }

    .first__content-list{
        margin-bottom: 3rem;
    }

    .underline::after{
        height: .5rem;
    }
}

@media all and (max-width: 767px) and (orientation: portrait) /*(height: 1366px)*/{
    .block__wrapper{
        max-width: 768px;
    }

    .first__wrapper,
    .first__block{
        height: auto;
        min-height: auto;
    }

    .first__content{
        position: static;
        transform: none;
        display: flex;
        flex-direction: column-reverse;
    }

    .first__content-colomn-text{
        padding-bottom: 0;
    }

    .first__content-colomn-text > .first__content-section{
        position: static;
    }
 
}

@media all and (max-width: 1024px){
    .block__wrapper{
        max-width: 768px;
    }

    .block__content-text{
        width: 100%;
    }

    h1{
        font-size: 2.4rem;
        line-height: 1;
    }

    h3, h4, .first__content-feature{
        font-size: 1.4rem;
    }

    h2, h5{
        font-size: 1.8rem;
    }

    .first__nav-a, .first__nav-btn{
        font-size: 1.4rem;
        padding: 0 1rem;
    }

    .first__content-li{
        padding-left: 2.5rem
    }

    .first__content-li{
        margin-right: 1rem;
    }

    .first__content-start, .fifth__content-start, .first__content-login{
        font-size: 1.6rem;
        height: 40px;
        padding: 0 1rem
    }

    .block__content-illustration-padding, .block__content-section-padding, .fourth__content-colomn{
        padding: 2rem;
    }

    .seventh__item{
        padding: 1.5rem;
    }

    .seventh__logo-a{
        font-size: 2.8rem;
    }

    .seventh__img-img{
        width: 25px;
        height: 25px;
    }

}