@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* KonstantGrotesk by Stephen French */
@font-face {
    font-family: "KonstantGrotesk";
    src: url("../fonts/KonstantGrotesk/KonstantGrotesk.woff") format("woff");
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --mont: 'Montserrat', sans-serif;
    --opens: 'Open Sans', sans-serif;
    --konst: 'KonstantGrotesk', sans-serif;
    --spsmon: 'Space Mono', monospace;

    --main: var(--konst);
    --sec: var(--spsmon);
    --third: var(--opens);
}


body,
html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 10px;
}

.wrapper{
    width: 100%;
    height: auto;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background: #252525;
}

.block-focus{
    -webkit-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    background: #f4f5f9;
}

.block-focus-off{
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    transition: all 500ms cubic-bezier(.3,.86,.36,.95);
}

#starter,
#firstDevider,
#workSection,
#secondDevider,
#aboutSection,
#contactSection{
    -webkit-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 500ms cubic-bezier(.3,.86,.36,.95);
    transition: all 500ms cubic-bezier(.3,.86,.36,.95);
}

/* starter */

.starter{
    width: 100%;
    height: 100vh;
}

.starter__container{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 75px 1fr 75px;
    overflow: hidden;
    -ms-grid-rows: 75px 1fr 75px;
    grid-template-rows: 75px 1fr 75px;
}

.starter__header,
.starter__main,
.starter__footer{
    width: 100%;
    height: 100%;
}

.starter__header{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.starter__home,
.starter__time,
.starter__links{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.starter__home div,
.starter__time div,
.starter__links div,
.contact__link-container div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #f4f5f9;
    font-size: 2rem;
    font-family: var(--third);
}

.starter__home{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.starter__home div{
    margin-left: 4rem;
}

.starter__links{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.starter__links-item{
    margin-right: 4rem;
}

.link{
    position: relative;
    cursor: pointer;
    color: transparent !important;
    overflow: hidden;
    -webkit-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    transition: all 750ms cubic-bezier(.3,.86,.36,.95);
}

.link:hover{
    -webkit-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    transition: all 750ms cubic-bezier(.3,.86,.36,.95);
}

.link:hover::after{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}

.link:hover::before{
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.link::after,
.link::before{
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-content);
    cursor: pointer;
    color: #f4f5f9;
    font-size: 2rem;
    font-family: var(--third);
    -webkit-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    -o-transition: all 750ms cubic-bezier(.3,.86,.36,.95);
    transition: all 750ms cubic-bezier(.3,.86,.36,.95);
}

.link::after{
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.link::before{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}

.starter__main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.starter__main-container{
    max-width: 1440px;
    width: calc(100% - 4rem);
    height: 80%;
    max-height: 619.2px;
    position: relative;
}

.starter__photo1{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

.starter__photo1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.starter__letter{
    width: 328.95px;
    height: 328.95px;
    position: absolute;
    bottom: 0;
    left: 200px;
    z-index: 5;
    background: #f4f5f9;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.starter__letter span{
    color: transparent;
    -webkit-text-stroke: 2px black;
    font-size: 12.8rem;
    font-family: var(--third);
    position: relative;
}

.starter__corner1,
.starter__corner2{
    width: 150px;
    height: 150px;
    position: absolute;
    border-right: 2px solid #f4f5f9;
}

.starter__corner1{
    top: 0;
    right: 0;
    border-top: 2px solid #f4f5f9;
}

.starter__corner2{
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #f4f5f9;
}

.starter__text{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #f4f5f9;
    z-index: 20;
}

.starter__headering,
.starter__sub-headering{
    width: auto;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.starter__headering{
    font-size: 11.2rem;
    font-family: var(--main);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    padding: 0 6rem 1.5rem 0;
    letter-spacing: -4px;
    font-weight: 500;
}

.starter__sub-headering{
    text-align: right;
    padding: 1.5rem 6rem 0 0;
    font-size: 3.6rem;
    font-family: var(--sec);
    line-height: 1.4;
}

.starter__footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.starter__footer-container{
    max-width: 1440px;
    width: calc(100% - 8rem);
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.starter__scroll,
.starter__mail{
    width: 100%;
    height: 100%;
    color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    font-family: var(--third);
}

.starter__scroll{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.starter__mail{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

/*************************************************************/
/* devider */
/*************************************************************/

.devider{
    width: 100%;
    height: auto;
}

.devider__container{
    max-width: 1440px;
    width: calc(100% - 4rem);
    height: 100%;
    padding: 4rem 2rem 25% 2rem;
    margin: 0 auto;
    position: relative;
}

.devider__title{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.divider__name{
    width: 100%;
    height: 100%;
    color: #252525;
    font-family: var(--main);
    font-size: 124px /*calc(36px + 88*(100vw / 1903))*/;
    letter-spacing: -4px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.devider__corner1{
    top: 0;
    left: 0;
    border-top: 3px solid #252525;
    border-left: 3px solid #252525;
}

.devider__corner2{
    top: 0;
    right: 0;
    border-top: 3px solid #252525;
    border-right: 3px solid #252525;
}

.devider__corner3{
    top: 50%;
    left: 0;
    border-left: 3px solid #252525;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.devider__corner4{
    top: 50%;
    right: 0;
    border-right: 3px solid #252525;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.devider__corner1,
.devider__corner2,
.devider__corner3,
.devider__corner4,
.contact__corner{
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-width: 3px;
}

/*************************************************************/
/* work */
/*************************************************************/

.work{
    width: 100%;
    height: auto;
}

.work__container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.work__section{
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-bottom: 10rem;
}

.work__other{
    -ms-grid-columns: 1fr 1fr !important;
    grid-template-columns: 1fr 1fr !important;
}

.work__section:last-child{
    padding-bottom: 0rem;
}

.work__title-container{
    width: 100%;
    height: 100%;
}

.work__title{
    background: transparent;
    width: 100%;
    height: auto;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
}

.work__letter{
    width: 100%;
    height: auto;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 2px #252525;
    font-family: var(--main);
    font-size: 240px;    
    font-weight: 500;
    text-align: center;
}

.work__column{
    width: 100%;
    height: auto;
}

.work__description{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.work__description-name,
.about__text-name{
    font-family: var(--main);
    font-size: 4.8rem;
    color: black;
    font-weight: 400;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    width: 100%;
}

.work__description-name:after,
.about__text-name:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 1px;
    background: #000;
}

.work__description-sub,
.work__description-content,
.about__text-subname,
.about__text-content{
    font-family: var(--sec);
    font-size: 2.2rem;
    font-weight: 400;
}

.about__text-subname{
    width: 100%;
}

.work__description-sub,
.about__text-subname{
    color: rgba(0,0,0,.35);
    margin-bottom: 2rem;
}

.work__description-content,
.about__text-content{
    margin-bottom: 4rem;
    color: black;
}

.work__photos{
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;    
}

.work__photos-colum{
    width: 100%;
    height: auto;
}

.work__photos-colum:nth-of-type(2){
    padding-top: 0rem;
}

.work__photo-item{
    width: 100%;
    background: white;
    margin-bottom: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.work__photo-first .additional-space{
    display: none;
}

.work__photo-first:hover .photo-container{
    padding-bottom: 100% !important;
}

.photo-container{
    padding-bottom: 100%;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;
}

.work__rhombus,
.about__rhombus{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 3.2rem;
    height: 3.2rem;
}

.starter__rhombus{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.work__rhombus svg,
.about__rhombus svg,
.starter__rhombus svg{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.work__rhombus svg path
.about__rhombus svg path{
    stroke: black;
    stroke-width: 0px;
    stroke-linecap: round;
    fill: black;
}

.work__rhombus svg path{
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about__rhombus svg path{
    -webkit-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.photo{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
    -webkit-filter: grayscale(1); 
            filter: grayscale(1);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-mask-origin: view-box;
            mask-origin: view-box;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
}

.work__photo-item:hover .work__rhombus svg path,
.about__photo-container:hover .about__rhombus svg path{
    fill: white;
}

.work__photo-item:hover .photo-container{
    padding-bottom: 125%;
}

.work__photo-item:hover .additional-space{
    padding-bottom: 0%;
}

.work__photo-item:hover .photo{
    -webkit-mask-size: 300%;
            mask-size: 300%;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.additional-space{
    display: block;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding-bottom: 25%;
}

.work__link{
    width: 100%;
    height: 6.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.work__link-item{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.2rem;
    font-family: var(--sec);
    border: 2px solid black;
    position: relative;
    cursor: pointer;
}

.work__link-item:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 2rem;
    height: 2px;
    background: #000;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateY(50%) scaleX(0.5);
        -ms-transform: translateY(50%) scaleX(0.5);
            transform: translateY(50%) scaleX(0.5);
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.work__link-item:hover:after{
    -webkit-transform: translateY(50%) scaleX(1);
        -ms-transform: translateY(50%) scaleX(1);
            transform: translateY(50%) scaleX(1);
}

.work__other-wrapper{
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.work__other-container{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.other__name{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2.2rem;
    color: black;
    font-family: var(--sec);
}

.other__column{
    width: 100%;
    height: 100%;
}

.other__letter{
    position: relative;
}

.other__letter span{
    position: absolute;
    top: 50%;
    left: -10px;
    font-size: 24rem;
    font-family: var(--main);
    color: #f3f4f8;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 900;
}

.other__photo{
    position: relative;
    padding-bottom: 100%;
}

.other__photo-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.other__photo img{
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    mask-position: center;
    mask-size: 100%;
    mask-image: url(../imgs/icons/blob2.svg);
    -webkit-mask-image: url(../imgs/icons/blob2.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    background: white;
}



/*.work__other-wrapper:hover .other__photo img{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

#workModeling .other__photo img{
    -webkit-mask-image: url(../imgs/icons/blob4.svg) !important;
            mask-image: url(../imgs/icons/blob4.svg) !important;
}

#workPhotography .other__photo img{
    -webkit-mask-image: url(../imgs/icons/blob2.svg) !important;
            mask-image: url(../imgs/icons/blob2.svg) !important;
}

#workDigital-mob .other__photo img{
    -webkit-mask-image: url(../imgs/icons/blob1.svg) !important;
            mask-image: url(../imgs/icons/blob1.svg) !important;
}

#workTraditional-mob .other__photo img{
    -webkit-mask-image: url(../imgs/icons/blob3.svg) !important;
            mask-image: url(../imgs/icons/blob3.svg) !important;
}*/

#workDigital-mob,
#workTraditional-mob{
    display: none;
}

/* about */

.about{
    width: 100%;
    height: auto;
}

.about__container{
    max-width: 1440px;
    width: 100%;
    padding: 0 2rem 7.5rem 2rem;
    margin: 0 auto;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.about__photo,
.about__text{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100%;
}

.about__text-container,
.about__photo-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about__text-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.about__text-name{
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-family: var(--main);
    font-size: 4.8rem;
}

.about__photo-container{
    background: white;
    overflow: hidden;
}

.about__photo-container:hover img{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    mask-size: 200%;
    -webkit-mask-size: 200%;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.about__photo-container img{
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    mask-position: center;
    mask-size: 100%;
    mask-image: url(../imgs/icons/blob2.svg);
    -webkit-mask-image: url(../imgs/icons/blob2.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    background: white;
}

/* contact */

.contact{
    width: 100%;
    height: auto;
    background: #252525;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.contact__container{
    width: calc(100% - 4rem);
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    /*border: 0.5px solid #f3f4f8;*/
    position: relative;
}

.contact__name{
    width: 100%;
    height: auto;
    font-family: var(--main);
    font-size: 124px /*calc(36px + 88*(100vw / 1903))*/;
    letter-spacing: -4px;
    font-weight: 500;
    color: #f3f4f8;
    text-align: center;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.contact__mail{
    width: 100%;
    height: auto;
    padding-bottom: 10rem;
    text-align: center; 
    position: relative;
}

.contact__main-photo{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 25%;
    padding-bottom: 25%;
    background: #000;
    background-image: url(../phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
}

.contact__main-item{
    font-family: var(--third);
    font-size: 72px /*calc(36px + 88*(100vw / 1903))*/;
    letter-spacing: -4px;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 2px #f3f4f8;
    position: relative;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
    z-index: 1;
    display: inline-block;
}


.contact__main-item:hover:after{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.contact__main-item:hover{
    color: #f3f4f8;
}

.contact__main-item:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f3f4f8;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 0;
}

.contact__link{
    width: 100%;
    height: 75px;
    margin-top: 10rem;
}

.contact__link-container{
    width: 100%;
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20rem;
}

.contact__link-item{
    text-align: center;
}

.contact__corner1{
    top: 0;
    left: 0;
    border-top: 3px solid #f3f4f8;
    border-left: 3px solid #f3f4f8;
}

.contact__corner2{
    top: 0;
    right: 0;
    border-top: 3px solid #f3f4f8;
    border-right: 3px solid #f3f4f8;
}

.contact__corner3{
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #f3f4f8;
    border-left: 3px solid #f3f4f8;
}

.contact__corner4{
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #f3f4f8;
    border-right: 3px solid #f3f4f8;
}

.contact__line-block{
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
    height: 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact__line-block1{
    top: 0;
}

.contact__line-block2{
    bottom: 0;
}

.contact__line1,
.contact__line2,
.contact__line3,
.contact__line4{
    background: white;
    height: 3px;
}

.contact__line1{
    width: 80%;
}

.contact__line2{
    width: 100%;
}

.contact__line3{
    width: 100%;
}

.contact__line4{
    width: 80%;
}

.warning-rotate{
    width: 100%;
    height: 100%;
    background: #f4f5f9;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.warning-rotate-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-rotate-container{
    width: 100%;
    height: auto;
}

.warning-rotate-photo{
    width: 135px;
    height: 135px;
    margin: 0 auto 1rem auto;
}

.warning-rotate-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.warning-rotate-message{
    font-size: 2.2rem;
    font-family: var(--main);
    text-align: center;
}

.warning-rotate-message span{
    /*text-decoration: underline;*/
    border-bottom: 2px dotted black;
}

@media all and (max-width: 1440px){
    .starter__sub-headering{
        /*9.3px 36px*/
        font-size: calc(11px + 25*(100vw / 1440));
    }

    #firstDevider_name,
    #secondDevider_name,
    .contact__name,
    .starter__headering{
        font-size: calc(29px + 83*(100vw / 1440));
    }

    .other__name{
        /*mx 22px  mn 14px*/
        font-size: calc(14px + 8*(100vw / 1440));
    }

    .other__letter span{
        /*mn 131px mx 240px*/
        font-size: calc(131px + 109*(100vw / 1440));
    }

    .work__description-sub, 
    .work__description-content, 
    .about__text-subname, 
    .about__text-content{
        /*mn 13.2px mx 22px*/
        font-size: calc(13.2px + 8.8*(100vw / 1440));
    }

    .work__description-name, 
    .about__text-name{
        font-size: calc(28px + 20*(100vw / 1440));
    }

    .work__letter{
        /*mn 144px mx 22px*/
        font-size: calc(144px + 96*(100vw / 1440));
    }

    .contact__main-item{
        /*mn 26px mx 72px*/
        font-size: calc(26px + 46*(100vw / 1440));
    }
}

@media all and (max-width: 1366px){
    
}

@media all and (max-width: 1112px){
    .starter__corner1,
    .starter__corner2,
    .devider__corner1,
    .devider__corner2, 
    .devider__corner3, 
    .devider__corner4, 
    .contact__corner{
        width: 10rem;
        height: 10rem;
    }

    .starter__letter{
        width: 250px;
        height: 250px;
    }
}

@media all and (max-width: 1024px){
    .starter__letter {
        width: 200px;
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
        height: 200px;
    }

    #starter__photo_item{
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
    }

    .about__text-container{
        display: block;
        overflow-y: scroll;
    }

    .contact__name{
        padding: 7.5rem 0;
    }

    .contact__mail{
        padding: 0 0 7.5rem 0;
    }

    .contact__link{
        margin-top: 7.5rem;
    }

    .contact__main-item{
        -webkit-text-stroke: 1px #f3f4f8;
    }
}

@media all and (max-width: 834px){
    .starter__headering{
        padding: 0 4rem 1rem 0;
    }

    .starter__sub-headering{
        padding: 1rem 4rem 0 0;
    }

    .work__letter{
        /*mn 144px mx 22px*/
        font-size: calc(144px + (96 + 96 * 0.7 ) * ((100vw - 568px) / 1440));
    }
    
    .devider__container {
        padding: 4rem 2rem 20% 2rem;
    }

    .starter__corner1,
    .starter__corner2,
    .devider__corner1,
    .devider__corner2, 
    .devider__corner3, 
    .devider__corner4, 
    .contact__corner{
        width: 10rem;
        height: 10rem;
    }
    
    .work__section{
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    }

    .contact__link-container{
        padding: 0 12rem;
    }
}

@media all and (max-width: 812px){
    .starter__sub-headering{
        /*9.3px 36px*/
        font-size: calc(9.3px + (26.7 + 26.7 * 0.7)*((100vw - 320px) / 1440));
    }

    .other__name{
        /*mx 22px  mn 14px*/
        font-size: calc(14px + (8 + 8 *0.7) * ((100vw - 320px) / 1440));
    }

    .other__letter span{
        /*mn 131px mx 240px*/
        font-size: calc(131px + (109 + 109 * 0.7)*((100vw - 320px)  / 1440));
    }

    .work__description-name, 
    .about__text-name{
        /*mn 28px mx 48px*/
        font-size: calc(28px + (20 + 20 * 0.7)*((100vw - 320px)  / 1440));
    }

    .work__description-sub, 
    .work__description-content, 
    .about__text-subname, 
    .about__text-content{
        /*mn 13.2px mx 22px*/
        font-size: calc(13.2px + (8.8 + 8.8 * 0.7)*((100vw - 320px) / 1440));
    }

    .contact__name{
        letter-spacing: -2px;
    }

    .contact__main-item{
        /*mn 26px mx 72px*/
        -webkit-text-stroke: 0.5px #f3f4f8;
        letter-spacing: -2px;
        font-size: calc(26px + (46 + 46 * 0.7)*((100vw - 320px) / 1440));
    }

    .contact__name{
        padding: 5rem 0;
    }

    .contact__mail{
        padding: 0 0 5rem 0;
    }

    .contact__link{
        margin-top: 5rem;
    }
}

@media all and (max-width: 768px){
    .starter__corner1,
    .starter__corner2,
    .devider__corner1,
    .devider__corner2, 
    .devider__corner3, 
    .devider__corner4, 
    .contact__corner{
        display: none;
    }

    .about__text-name{
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .about__text-subname,
    .about__text-content{
        margin-bottom: 1rem;
    }
    
    .contact__line-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .contact__link-container{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    
}

@media all and (min-height: 320px) and (max-height: 767px) and (orientation: landscape){
    .warning-rotate{
        display: block;
    }
}

@media all and (max-width: 736px){
    #firstDevider_name,
    #secondDevider_name,
    .contact__name{
        font-size: calc(29px + (83 + 83 + 0.7) * ( (100vw - 320px ) / 1440));
    }

    .work__link-item:after{
        display: none;
    }
}

@media all and (max-width: 667px){
    .contact__link-container{
        padding: 0 12.5%;
    }

    .starter__letter{
        width: 175px;
        height: 175px;
    }
}

@media all and (max-width: 568px){
    .starter__home div{
        margin-left: 2rem;
    }

    .starter__headering {
        padding: 0 2rem 1rem 0;
        letter-spacing: -3px;
    }

    .starter__sub-headering{
        padding: 1rem 2rem 0 0;
    }

    .starter__links-item{
        margin-right: 2rem;
    }

    .work__title-container{
        display: none;
    }

    .work__section,
    .work__other{
        -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    }

    .work__link{
        height: 55px;
    }

    .work__link-item:after{
        display: block;
    }

    .about__container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding: 0 2rem 5rem 2rem;
    }

    .about__photo,
    .about__text{
        height: auto;
    }

    .about__text{
        padding-bottom: 0;
        width: 100%;
    }

    .about__text-container{
        width: 100%;
        height: auto;
        position: static;
    }

    .contact{
        padding: 5rem 0;
    }

    .contact__name{
        padding: 5rem 0 2.5rem 0;
    }

    .contact__mail{
        padding: 0 0 2.5rem 0;
    }

    .contact__link{
        margin-top: 2.5rem;
    }

    .link::after, .link::before{
        font-size: 1.8rem;
    }

    .contact__line1, .contact__line2, .contact__line3, .contact__line4{
        height: 2px;
    }

    .contact__link-container{
        padding: 0 10%;
    }
}

@media all and (max-width: 500px){
    #contactScroll{
        display: none;
    }

    .starter__header{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .starter__time{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 2rem;
    }

    .starter__letter{
        width: 150px;
        height: 150px;
    }

    .starter__footer-container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: calc(100% - 4rem);
    }

    .starter__mail{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .starter__headering{
        letter-spacing: -1px;
    }

    .starter__scroll{
        display: none;
    }

    .starter__home{
        display: none;
    }
}

@media all and (max-width: 425px){
    .starter__headering {
        padding: 0 2rem 0rem 0;
        line-height: 1.25;
    }

    .starter__letter{
        display: none;
    }

    .divider__name{
        letter-spacing: -2px;
    }

    .work__other{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #workDigital,
    #workTraditional{
        display: none;
    }

    #workDigital-mob,
    #workTraditional-mob{
        display: block;
    }



}

@media all and (max-width: 414px){

}

@media all and (max-width: 375px){
    .contact__link-container{
        padding: 0 6%;
    }

    .starter__headering{
        padding: 0;
    }

    .starter__photo1{
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .starter__sub-headering{
        padding: 1rem 0rem 0 0;
    }
}

@media all and (max-width: 320px){
    .starter__photo1{
        z-index: 9;
    }

    .starter__mail{
        z-index: 10;
    }

    .divider__name{
        letter-spacing: 0;
    }

    .other__name{
        bottom: 1rem;
        left: 1rem;
    }

    .contact__link-container{
        padding: 0;
    }

    .link::after, .link::before{
        font-size: 1.7rem;
    }
}

/*

.marquee {
    width: 600px;
    padding: 2rem 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: white;
}

.marquee__content {
    width: 300%;
    height: 100%;
    display: flex;
    animation: marquee 25s linear infinite forwards;
}

.list-inline {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-inline li{
    font-size: 3.8rem;
    margin: 0 3.5rem;
    font-family: var(--main);
    color: #232323;
    font-weight: 500;
    position: relative;
}

.list-inline li::after,
.list-inline li::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    background: #000;
    top: 50%;
    right: -35px;
}

.list-inline li::after{
    transform: translateY(-50%);
}

.list-inline li::before{
    transform: translateY(-50%);
}

@keyframes marquee {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-100%);
    }
}

*/