

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;

}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    
    background: transparent;
}

::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: #4b4e6d;
}*/


