*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "HelveticaNeueLTPro-HvEx";
    src: url("../../fonts/381212_0_0.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("https://type.cargo.site/NeueHaasGrotesk/NeueHaasGroteskTextRegular-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-DFFF, U+F900-FFFD;
}

:root{
    --helvb: "HelveticaNeueLTPro-HvEx";
    --neu: "Neue Haas Grotesk";
}

body,
html{
    width: 100%;
    height: auto;
    font-size: 10px;
}

.wrapper__main{
    width: 100%;
    height: 1000vh;
}

.wrapper__fixed{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
}

.wrapper__head{
    width: 100%;
    height: 7.5rem;
    top: 0;
    left: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 100;
}

.wrapper__label,
.wrapper__time,
.wrapper__menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__label div,
.wrapper__time,
.wrapper__menu div{
    font-family: var(--neu);
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

.wrapper__label div,
.wrapper__menu div{
    cursor: pointer;
}

.wrapper__label div::after,
.wrapper__menu div::after{
    content: '';
    width: 100%;
    height: 5px;
    background: red;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    position: absolute;
    display: none;
}

.zIndx-2{
    position: relative;
    z-index: -2;
}

.wrapper__label div:hover::after,
.wrapper__menu div:hover::after{
    display: block;
}

.start{
    width: 100%;
    height: 100%;
    position: absolute;

}

.start__body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.start__text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 11;
    grid-template-rows: 1fr 1fr;
}

.start__text_item{
    width: 100%;
    position: relative;
    height: 100%;
}

#start__text1{
    font-family: var(--helvb);
    color: red;
    font-size: 10rem;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    transform: translateX(-50%);
    left: 50%/*calc(50% + 100px)*/;
}

#start__text2{
    font-family: var(--helvb);
    color: transparent;
    -webkit-text-stroke: 2px red;
    display: inline-block;
    position: absolute;
    font-size: 10rem;
    top: 0%;
    transform: translateX(-50%);
    left: 50%;
}

.start__photo{
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
}

.start__photo_item{
    width: 100%;
    height: 100%;
    position: relative;
}

.start__photo_item img{
    width: 75%;
    height: 75%;
    z-index: 10;
    position: absolute;
    object-fit: contain;
}

#start__photo1{
    top: 25%;
    left: 20%;
    transform: translate(-20%, -25%);
}

#start__photo2{
    bottom: 25%;
    right: 20%;
    transform: translate(20%, 25%);
}

.start__scroll{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.start__scroll span{
    width: 10px;
    height: 10px;
    background: #000;
    display: block;
    transition: all 500ms ease;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.scroll-1{
    transition: all 500ms ease;
    animation: DotAnim1 2s ease 0ms infinite normal forwards;
}

.scroll-2{
    transition: all 500ms ease;
    animation: DotAnim2 2s ease 2000ms infinite normal forwards;
}

.scroll-3{
    transition: all 500ms ease;
    animation: DotAnim3 2s ease 4000ms infinite normal forwards;
}

@keyframes DotAnim1{
    25%{
        background: red;

    }
}

@keyframes DotAnim2{
    50%{
        background: red;


    }
}

@keyframes DotAnim3{
    75%{
        background: red;


    }
}

#second{
    width: 100%;
    height: 100vh;
    position: absolute;
    /*opacity: -0.5;*/
}

.second__body{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.second__photo_keerep{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#second__photo1{
    position: absolute;
    top: 50%;
    left: calc(100% - 1600px);
    width: 75%;
    height: 75%;
    transform: translate(-100%, -50%);
}

#second__photo1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center right;
}

#second__photo2{
    position: absolute;
    top: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-100%, -50%);
}

#second__photo2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.second__pic1{
    grid-column: 1/2; 
}

.second__pic2{
    grid-column: 2/-1;
}



#circle{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./dliaNikola.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: -0.5;
    /*-webkit-animation: rotate 7s linear infinite;
    animation: circleRotate 10s linear infinite;*/
}


@keyframes circleRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#third{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
}

.third__body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.third__photo_keerep{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#third__photo1{
    grid-column: 1/2;
    left: 0%;
}

#third__photo2{
    grid-column: 2/-1;
    left: 0%;
}

#third__photo1 img{
    width: 90%;
    height: 90%;
    left: 55%;
    position: absolute;
    object-fit: contain;
    filter: grayscale(1);
}

#third__photo2 img{
    left: -45%;
    width: 90%;
    height: 90%;
    position: absolute;
    filter: grayscale(1);
    object-fit: contain;
}

#fourth{
    width: 100%;
    height: 200vh;
    position: absolute;
    bottom: calc(0% + 5000px);
}

.fourth__body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.fourth__photo_keerep{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.fourth__photo_keerep img{
    width: 75%;
    height: 75%;
    object-fit: contain;
    display: flex;
}

.fourth__photo_keerep:nth-of-type(2n+1){
    align-self: flex-start;
}

.fourth__photo_keerep:nth-of-type(2n){
    align-items: flex-end;
}

#fifth{
    width: 100%;
    height: 200vh;
    position: absolute;
    bottom: calc(0% + 5800px);
}

.fifth__body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1fr;
}

.fifth__photo_keerep{
    background: #000;
}

.section__name{
    position: absolute;
    top: calc(100% - 50px);
    right: 50px;
    transform: translateY(-100%);
    display: inline-block;
    color: transparent;
    font-family: var(--helvb);
    font-size: 10rem;
    -webkit-text-stroke: 2px red;
    opacity: -0.5;
}